.row.portfolio
  .small-12.columns
    %ul.large-block-grid-2.medium-block-grid-2.small-block-grid-1.port-grid
      %li
        = link_to gopro_work_path do
          .piece.gopro
      %li
        = link_to five9_work_path do
          .piece.five9
      %li
        = link_to bloom_work_path do
          .piece.bloom
      %li
        = link_to pop_work_path do
          .piece.pop
      %li
        = link_to pitchbook_work_path do
          .piece.pitchbook
