!!! 5
%html
  %head
    %title= full_title(yield(:title))
    %meta{:name => "viewport", :content => "width=device-width; initial-scale = 1.0;"}
    %link{rel: "shortcut icon", href: "/assets/jenny-favicon.ico", type: "image/x-icon"}
    %link{rel: "icon", href: "/assets/jenny-favicon.ico", type: "image/x-icon"}
    = stylesheet_link_tag "/assets/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "/assets/application", "data-turbolinks-track" => true
    = javascript_include_tag "/assets/app/navigation", "#@pages_controller.#@home" => true
    = csrf_meta_tags 

  %body
  = render 'nav'
  = yield
  %script
    $(document).foundation();

